*{
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nivel01{
    padding-left: 2%;
}

.nivel02{
    padding-left: 6%;
}